name: CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore RealEstate.API/RealEstate.API.csproj

      - name: Build
        run: dotnet build RealEstate.API/RealEstate.API.csproj --no-restore

      - name: Test
        run: dotnet test --no-build --verbosity normal

      - name: Build Docker Image
        run: docker build -t realestate-api:latest -f RealEstate.API/Dockerfile .
